.root {
  max-width: "90%";
  margin: "auto";
  overflow: "hidden";
}

.media {
  height: 0;
  padding-top: "56.25%";
}

.expand {
  transform: "rotate(0deg)";
  margin-left: "auto";
}

expandOpen {
  transform: "rotate(180deg)";
}

avatar {
  background-color: #232f3e;
}
