.createAccountTitle {
  text-align: center;
}

.textBeautify {
  font-family: sans-serif;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: rgb(194, 181, 181);
  letter-spacing: 1px;
}
